In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
import json
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('medical_insurance.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### EDA

#### 1. gender

In [4]:
df['gender'].value_counts().to_dict()

{'male': 676, 'female': 662}

In [5]:
df['gender'].replace({'male': 1, 'female': 0},inplace=True)

In [6]:
df['gender']

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: gender, Length: 1338, dtype: int64

#### 2. smoker

In [7]:

df['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [8]:

df['smoker'].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [9]:
df['smoker'].replace({'no': 0, 'yes': 1},inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 73.3+ KB

#### 3. region

In [11]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [12]:
df['region'].value_counts().to_dict()

{'southeast': 364, 'southwest': 325, 'northwest': 325, 'northeast': 324}

In [13]:
df = pd.get_dummies(df,columns=['region'],dtype=int)

In [14]:
df

,age,gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,0,1,0,0
1334,18,0,31.920,0,0,2205.98080,1,0,0,0
1335,18,0,36.850,0,0,1629.83350,0,0,1,0
1336,21,0,25.800,0,0,2007.94500,0,0,0,1
1337,61,0,29.070,0,1,29141.36030,0,1,0,0

## model training

In [15]:
x = df.drop('charges',axis=1)
y = df['charges']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=13)

In [16]:
linear_reg = LinearRegression()
linear_reg.fit(x_train,y_train )

LinearRegression()

### Evaluation

In [17]:
y_pred = linear_reg.predict(x_test)
y_pred

array([ 3600.84757824, 10353.60606981,  7247.53040669,  6661.27764925,
        2543.96751265, 16353.71187466, 13658.07752938,  5407.47201226,
       32184.48705221, 28661.81941062,  9181.95449826, 10326.60596382,
        3468.81409881,  6390.60700372,  7406.40170852,  7216.07431951,
       33337.21850759, 30435.99649089, 15041.78017196,   417.66188896,
        7706.74587818,  5550.53832266, 28454.75485623, 14792.61767992,
       40437.05958329, 28379.04013371, 33719.22121508,  2895.81735814,
       10898.08517778, 15444.68848735, 12219.88584049, 28664.5614591 ,
        2924.27600095,  7471.7696333 , 37473.40435954, 26924.3359047 ,
        6674.21708208, 11622.9167336 , 35962.88120372,  4728.00587943,
        8580.14434213, 18458.94344207, 10430.78103491,  8618.62862778,
         965.43255995,  5947.80201163, 15768.93345927,  5863.38473425,
        2336.3259301 , 10569.92039868, 32666.28905913, 33926.58292985,
        7721.41769839,  9953.79415389, 14294.27378064,  5491.85515848,
        7865.05089079, 34149.10329472, 17446.15793462,  3434.82768181,
        6431.52794561, 31154.86627476,  7761.80961274, 28887.32441429,
       13668.86793708,  5808.84363199, 29299.92199042, 13982.48038187,
        5000.82987271, 11771.33870282,  8769.53370216,  8883.38060231,
        9836.47872083,  3166.81624518, 16255.16226399,  7987.61022509,
        7157.0838894 ,  2320.58172557, 31265.36927289, 10796.40172281,
        1897.27286683,  9761.70947692, 12770.78761639, 19645.86060511,
       12072.02985425,  1381.40488039, 16075.59315599, 11593.99852375,
        2146.70735533,  6034.51837195,  9129.58726229,  1997.21817181,
         -99.76365371, 31899.52472176, 14434.42175566, 10259.60092028,
         150.15507614, 38337.70115306,  1065.60707968, 11633.86900322,
        3061.01411745, 10363.31407783,  4549.75975518,  8787.9020726 ,
        7443.14692938,  9761.21355075, 30145.1002013 , 28717.77153914,
       39348.57892905, 10034.34506104,  4019.04435016, 14439.27528497,
       36860.70447759,  1532.82882041, 35318.89724264, 23744.19508337,
        7110.98813672,  4022.93924452, 10511.6775275 ,  6233.75690927,
        8103.02386872, 14892.38120599, 34871.4708119 , 11985.55151054,
       14768.0842619 , 29292.41440296, 10891.47951126,  3404.26115446,
        9895.67111063, 11969.54900235,  3611.45028108,  9343.46925052,
        4722.95564086, 33602.11470098, 26258.61659561,   907.63125138,
        9504.39542236,  3172.70278947,  3674.7399777 ,  9805.05631204,
        9388.33704071, 15507.20667452, 25255.41771434, 11339.34894384,
        9794.79397298, 15122.38897402,  6674.74515072,  8320.60738734,
        7906.80993542, 25376.95398087, 33309.79787943,  2223.59184673,
         388.51283824, 23327.15365567, 39067.65867561, 31100.97848963,
       30825.66206085, 10876.97477462,  4635.69866359,  7137.68974586,
       10389.37152905, 10979.91167799, 11372.59624494, 11545.97691622,
        3095.3769905 ,  1484.85207072,  7261.34943264, 29859.30226943,
       15366.24840083,  7397.18691261, 32751.47200008,   737.98977777,
       29178.09210742,  3051.08293915, 10588.07485126,  6203.11228665,
        9996.32173004,  3814.80791284, 14280.3447873 , 27359.74398101,
        6463.29698615,  4240.95959668,  6013.24493748, 13650.17012772,
        2051.20441892,  2280.55756964,  8491.08814535,  1664.6503777 ,
       10162.83051596, 33349.97573983, 31978.18164616,  7532.83291807,
       36383.68101116, 10739.11309932,  4060.26649243, 25311.54506766,
       34146.37232294,  5877.42068476, 32025.97069098,  7746.69222144,
        9145.64790423,  1501.18865895,  3575.77675249, 10921.8134759 ,
        2564.77011319,  5736.59840127,  7406.51219735,  6774.28824369,
        9874.78546351, 13211.40150944,  9970.28839993,  2281.8506259 ,
        8510.94722488, 15029.62808609,  4077.80593513,  7270.30246841,
       10111.10171894,  6398.98293692, 13099.60579633, 32186.92413715,
       30214.15523448,  2374.40517988, 39103.70195483,  9679.72927223,
        9543.33150374,  -351.89145118, 37178.61231946,  7228.02927443,
       17280.29532596,  8354.49784368,  4721.28666874,  6807.48656951,
        3984.88738939,  7570.94515069, 26663.96713092,    87.84102371,
       37683.65828336, 10493.75286318, 17803.98832768, 15826.9279935 ,
        8321.95963943, 14142.67095295, 17418.3238463 ,  7197.52428867,
       41046.57302211,  6486.64222896, 14709.65590083,  5511.70222693,
        2293.32948115,  6535.03674566, 28245.97983561, 13510.2405135 ,
       13717.83235781,  3172.71079506, 13569.46890815, 15138.78045122,
        9173.30401512,  8092.41824662, 17202.12524369, 13116.40799682,
        8065.01428642, 38913.46159374,  6142.48164708, 12934.66245328,
       12950.73163803, 17174.18968671,  8607.83822007,  3958.95998664])

In [18]:
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print('rmse:',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('mae:',mae)
r2_value = r2_score(y_test,y_pred)
print('r2_value: ',r2_value)

rmse: 5344.218063789126
mae: 3820.7706849786423
r2_value:  0.7990637930035749

In [19]:
y_pred_train = linear_reg.predict(x_train)
rmse = np.sqrt(mse)
print('rmse:',rmse)
mae = mean_absolute_error(y_train,y_pred_train)
print('mae:',mae)
r2_value = r2_score(y_train,y_pred_train)
print('r2_value: ',r2_value)

rmse: 5344.218063789126
mae: 4333.696951659548
r2_value:  0.7385339139130735

## single row testing

In [20]:
x_test[55:56]

,age,gender,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
902,26,1,27.265,3,0,1,0,0,0

In [21]:
linear_reg.predict(x_test[55:56])[0]

5491.855158482564

In [22]:
smoker_data  = {'no': 0, 'yes': 1}
gender_data = {'male': 1, 'female': 0}

##### for region we need to creat seprate

In [23]:
columns_names = x.columns.tolist()
columns_names

['age',
 'gender',
 'bmi',
 'children',
 'smoker',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest']

In [24]:
age = 30
gender = 'male'
bmi = 28.265
children = 2
smoker = 'yes'
region = 'northwest'

gender = gender_data[gender]
smoker = smoker_data[smoker]
region = 'region_'+region

region_index = columns_names.index(region)
region_index

test_array = np.zeros([1,linear_reg.n_features_in_])
test_array[0,0] = age
test_array[0,1] = gender
test_array[0,2] = bmi
test_array[0,3] = children
test_array[0,4] = smoker
test_array[0,region_index] = 1

predicted_charges = np.around(linear_reg.predict(test_array)[0],3)

In [25]:
predicted_charges

29988.467

In [26]:
with open ('linear_regression.pkl','wb') as f:
    pickle.dump(linear_reg,f)

In [27]:
project_data = {"gender": gender_data,
                "smoker":smoker_data,
                "columns_names":columns_names} 
with open('proj_data.json','w') as f:
    json.dump(project_data,f)